# Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
ENV/
env/
ENV/ local.env
.env
.envrc

# Testing and Coverage
.pytest_cache/
.tox/
.nox/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Other
**/.DS_Store
**/.vscode
bin
obj
node_modules
dist

# Agent settings
.claude/
.gemini/
.agents/
