@page "/"
@using DebugReaction.Services
@using DebugReaction.Models
@inject IQueryDebugService _queryService;

<PageTitle>Index</PageTitle>

<ToolsMenu></ToolsMenu>

<button class="btn btn-primary" @onclick="RefreshDebugInfo">Get Debug Info</button>

<table class="table">
    <thead>
        <tr>
            <th>Query Id</th>
            <th>Host</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var qid in _debugMap.Keys)
        {
            <tr>
                <td>@qid</td>
                <td>@_debugMap[qid].GetValueOrDefault("hostName", "")</td>
            </tr>
        }
    </tbody>
</table>

@code {

    private Dictionary<string, Dictionary<string, object>> _debugMap = new ();

    private async Task RefreshDebugInfo()
    {
        foreach (var qid in _queryService.ActiveQueries)
        {
            _debugMap[qid] = await _queryService.GetDebugInfo(qid);
        }
    }
}


